<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".StudyOSApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyOS"
        android:usesCleartextTraffic="true"
        tools:targetApi="28">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.StudyOS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.study.NotesPage"
            android:exported="false"
            android:label="@string/title_activity_note"
            android:theme="@style/Theme.StudyOS"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.study.QuizScreen"
            android:exported="false"
            android:label="Quiz"
            android:theme="@style/Theme.StudyOS" />
        <activity
            android:name=".ui.focus.BrainGameActivityShell"
            android:exported="false"
            android:label="Brain Game"
            android:theme="@style/Theme.StudyOS" />
        <activity
            android:name=".ui.focus.BrainGameActivity"
            android:exported="false"
            android:label="Brain Game"
            android:theme="@style/Theme.StudyOS" />
        <activity
            android:name=".ui.profile.SettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:theme="@style/Theme.StudyOS" />
        <activity
            android:name=".ui.plan.PlanActivity"
            android:exported="false"
            android:label="Study Plan"
            android:theme="@style/Theme.StudyOS"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.SignUpActivity"
            android:exported="false"
            android:label="Sign Up"
            android:theme="@style/Theme.StudyOS"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.home.DashboardActivity"
            android:exported="true"
            android:label="Dashboard"
            android:theme="@style/Theme.StudyOS" />
        <activity
            android:name=".ui.focus.PomodoroActivity"
            android:exported="true"
            android:label="Pomodoro"
            android:theme="@style/Theme.StudyOS" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:label="Login"
            android:theme="@style/Theme.StudyOS"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:label="Profile"
            android:theme="@style/Theme.StudyOS" />
        <activity
            android:name=".ui.profile.ProgressActivity"
            android:exported="false"
            android:label="Progress"
            android:theme="@style/Theme.StudyOS" />
        <activity
            android:name=".ui.home.VisionBoardActivity"
            android:exported="true"
            android:label="Vision Board"
            android:theme="@style/Theme.StudyOS"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.study.MockTestActivity"
            android:exported="false"
            android:label="Mock Test"
            android:theme="@style/Theme.StudyOS" />
        <activity
            android:name=".ui.study.Flashcards"
            android:exported="false"
            android:label="Flashcards"
            android:theme="@style/Theme.StudyOS" />
        <activity
            android:name=".ui.study.VideotoNotes"
            android:exported="false"
            android:label="Video to Notes"
            android:theme="@style/Theme.StudyOS" />
        <activity
            android:name=".ui.onboarding.OnboardingActivity1_WelcomePage"
            android:exported="false"
            android:label="Welcome"
            android:theme="@style/Theme.StudyOS" />
        <activity
            android:name=".ui.onboarding.OnboardingActivity2_StudyActivityOS"
            android:exported="false"
            android:label="Onboarding"
            android:theme="@style/Theme.StudyOS" />
        <activity
            android:name=".ui.onboarding.OnboardingActivity3_worksOffline"
            android:exported="false"
            android:label="Onboarding"
            android:theme="@style/Theme.StudyOS" />

        <receiver
            android:name=".notification.StudyReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".notification.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
